_subdirectory: template
_templates_suffix: .jinja
_answers_file: .copier-answers.[[ "quasar" if template_suffix == "" else "quasar-" ~ template_suffix ]].yml

_tasks:
  - "npm install"
  - "[ -d .git ] && pre-commit install --install-hooks || true"

[% include "shared-config/common.yml" %]
[% include "shared-config/docker.yml" %]
